body {
  font-size: 1.3em;
}

#container {
  margin: auto;
  text-align:center;
}

.number {
  font-size: 3em;
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}

.info {
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}

.small {
  font-size: .3em;
}